<label for="{{ form.field_id }}">{{ form.field_label }}</label>
{{ form.field }}
<head>
    <title>Your Page Title</title>
    <!-- Other head elements -->
</head>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Page Title</title>
    <!-- Other head elements -->
</head>
<body>
    {% extends "layout.html" %}

    {% block middle_content %}
        <form action="" method="post">
            {% csrf_token %}
            <label for="{{ form.field_id }}">{{ form.field_label }}</label>
            {{ form.field }}
            <button type="submit">{{ submitText }}</button>
        </form>
    {% endblock %}

    {% block right_content %}
        <p>Attendance Taker {{ attendanceTakerVersion }}</p><br />
        <a href="{% url 'verifyReceipt' %}">Receipt Verifier</a><br />
        <br />
        Bookmarklets:<br />
        <a href="javascript:(function()%7B(async%20function()%7B%0A%20%20// ... (your existing JavaScript code) ... %0A%7D)()%3B%7D)()%3B">CanvasClassList</a><br />
        <p>It scrolls for you. Give it 10 seconds.</p><br />
        <u class="formError">GradeClassList</u><br />
    {% endblock %}
</body>
</html>
