<head>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'AttendanceTaker/FlexML/FlexML.css' %}" type="text/css">
	<style>
		.formError {
			color: red;
		}
		:root {
			--subtleBackground: #f2f2ff;
		}

		#middleUpperPadding{
			background: var(--subtleBackground);
		}
		@media all and (max-width:700px){
			#middleUpperPadding {
				flex-basis: 0%;
				flex-grow: 0.5;
			}
		}
		@media not all and (max-width:700px){
			#middleUpperPadding {
				flex-basis: 20%;
			}
		}

		#leftPadding, #rightPadding {
			flex-basis: 20%;
			background: var(--subtleBackground);
		}
	</style>
</head>


{% block content %}

<div row grow>
	<div id="leftPadding" column shrink style="padding-left: 1vw; padding-top: 1vh;">
		{% block left_content %}
		{% endblock %}
	</div>
	<div id="middleContent" column grow shrink style="min-width: 0;">
		<div id="middleUpperPadding" shrink></div>
		<div column grow>
			{% block middle_content %}
			{% endblock %}
		</div>
		<div grow shrink style="flex-basis: 20%; background: var(--subtleBackground);"></div>
	</div>
	<div id="rightPadding" column shrink style="text-align: right; padding-right: 1vw; padding-top: 1vh;">
		{% block right_content %}
		{% endblock %}
	</div>
</body>

{% endblock %}
