<style>
	.fieldWrapper{
		width: 90%;
		border-radius: 5px;
		outline: none;
		background-color: var(--main-bg-color);
		text-indent: 5px;
		font-size: 100%;
	}
  .head{
    font-style: normal;
    font-weight: 600;
    color: #ECEFF3;
    background-color: var(--main-bg-color);
    margin-bottom: 5px;
  }
	input,textarea{
		background: #ECEFF3;
		border-radius: 5px;
		color: #1b1f29;
		font-size: 50%;
		font-style: normal;
		font-weight: 500;
		outline: none;
		padding: 2% 1.5%;
		width: 100%;
		min-height: 1em;
	}
	button {
		font-size: inherit;
	}

</style>
{% for field in form %}
	<div class="fieldWrapper">
		<div row>
			<div grow class="head"> {{ field.label }} </div>
			<div style="color: red;">
				{{ field.errors }}
			</div>
			{% if field.blank %}
				<div>optional</div> <!-- Have to figure out how to tie this to the field.required -->
			{% endif %}
		</div>
		{{ field }}
		{% if field.help_text %}
			<p class="help">{{ field.help_text|safe }}</p>
		{% endif %}
	</div>
{% endfor %}
