{% extends "layout.html" %}
{% block left_content %}
	<!-- This is where the present people go -->
	<!-- Make Copy JSON button that queries the server for the present list and puts it in the clipboard -->
	<!-- Make live attendance with htmx that updates every second. It can just render a template that loops through the students. -->
	<style>
		*{
			margin: 0%;
			padding: 0%;
			text-align: justify;
			list-style:none;
			box-sizing: border-box;
			background-color: #ECEFF3;
		}
		.box_title{
			font-size: 32px;
			font-style: normal;
			font-weight:600;

			text-align: center;

			color: var(--main-bg-color);
			margin: 5% 0%;
		}
		.content{
			font-size: 18px;
			text-align: justify;
			line-height: 22px;
			color: var(--main-bg-color);
			margin: 5% 0%;
		}
		.present_count{
			display: flex;
			flex-direction: row;

			width: 100%;
		}
		.buttons_div{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
		}
		.buttons_div button{
			margin: 2% auto;
		}
		.studentList{
			/*
			height: 360px;
			*/
			width: 100%;
			overflow: hidden;
			overflow-y: auto;
		}
		.studentList > div{
			min-height: 0px;
		}
		.qr_page_button {
			width: auto;
            border-style: none;
            cursor: pointer;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
			background-color: var(--main-bg-color);
			color: #ECEFF3;
         } 
        .left_box, .right_box{
			justify-content: space-between;
			align-items: center;
			align-content: space-around;
			padding: 5%;
			margin: auto 0%;
			height: 95%;
			background-color: #ECEFF3;
			border: 2px solid var(--main-bg-color);
			border-radius: 5px;
		}
        .center_box{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		timer-component{
            margin: 4% auto 0%;
			border-style: none;
			background-color: #ECEFF3;
			border: 2px solid var(--main-bg-color);
			border-radius: 3px;
		}
		#para{
			color: var(--main-bg-color);
			margin: 2% auto 0%;
		}
	</style>
    <div class="left_box" column>
	<div pad column start>
		<div class="box_title">Absent</div>
		<div class="content studentList" id="absenceList"></div>
	</div>
	<div class="buttons_div">
		<button class="qr_page_button" onclick="copyCSVAbsenceList()">Copy CSV</button>
		<button class="qr_page_button" onclick="copyJSONAbsenceList()">Copy JSON</button>
	</div>
	<timer-component no-grow></timer-component>
    </div>
	
	
	{% load static %}
	<link rel="stylesheet" href="{% static 'AttendanceTaker/timer.css' %}">
	<script src="{% static 'AttendanceTaker/timer.js' %}" type="text/javascript"></script>	<!--Maybe this should be minified, but who cares -->

	<script type="text/javascript">
		const absenceListElement = document.getElementById("absenceList");

		function copyString(text){
			async function navigatorClipboardCopy(text){
				if(document.location.protocol != "https:"){
					return false;
				}
				return new Promise((resolve, reject)=>{
					navigator.clipboard.writeText(text).then(()=>{resolve(true);}, ()=>{resolve(false);});
				});
			}
			function domCopy(text){
				if(!(document.execCommand)){
					console.warn("They finally deprecated document.execCommand!");
				}

				const input = document.createElement('textarea');
				input.value = text;
				document.body.appendChild(input);
				input.select();
				const success = document.execCommand('copy');
				document.body.removeChild(input);

				return success;
			}
			function promptCopy(){
				prompt("Copy failed. Might have ... somewhere. Check console.", text);
			}
			function done(){
				alert("Copied to clipboard");
			}
			navigatorClipboardCopy(text).catch(()=>{return false;}).then((success)=>{
				if(success){
					done();
				}else{
					if(domCopy(text)){
						done();
					}else{
						promptCopy();
					}
				}
			});
		}

		function copyJSONAbsenceList(){
			fetch("{% url 'ClassroomAbsenceList' %}").then((res)=>res.json()).then((data)=>data["data"]).then((absenceList)=>{
				console.log(absenceList);
				copyString(JSON.stringify(absenceList));
			});
		}
		function copyCSVAbsenceList(){
			fetch("{% url 'ClassroomAbsenceList' %}").then((res)=>res.json()).then((data)=>data["data"]).then((absenceList)=>{
				console.log(absenceList);
				copyString(absenceList.join(","));
			});
		}
		function buildAbsenceList(absenceList) {
			const parent = document.createElement('div');

			for (let studentName of absenceList) {
				const name = document.createElement('span');
                                name.textContent = studentName;

				parent.appendChild(name);
                                parent.appendChild(document.createElement('br'));
			}

			return parent;
		}

		setInterval(()=>{
			fetch("{% url 'ClassroomAbsenceList' %}").then((res)=>res.json()).then((data)=>data["data"]).then((absenceList)=>{
				//console.log(absenceList);
				absenceListElement.innerHTML = "";
				if(absenceList.length == 0){
					absenceListElement.appendChild(buildAbsenceList(["To use the absence list, you need to input the JSON class list."]));
				}else{
					absenceListElement.appendChild(buildAbsenceList(absenceList));
				}
			});
		}, 1000);
	</script>
{% endblock %}

{% block middle_content %}
	<div class="center_box">
		<h1 id="para" style="font-size: 10vh; margin-left: auto; margin-right: auto;">Scan Me!</h1>
		<!-- Maybe use htmx to swap the image. Use {bruh% url 'AttendanceTaker.QR' } as the image source' -->
		<style>
			a{
				width: 80%;
			}
			#qrcode{
				width: 100%;
				margin: auto;
			}
			#qrcode>img{
				width: 100%;
				image-rendering: pixelated;
				image-rendering: crisp-edges;
				cursor: none;
			}
			.text{
				text-align: center;
				font-size: 24px;
				color: var(--main-bg-color);
			}
		</style>

		<script>
			function studentSignIn(){
				fetch("{% url 'ClassroomQRCode' %}").then((res)=>res.json()).then((data)=>data["data"]).then((base64String)=>{
					window.location = document.location.origin + "/" + base64String;
				});
			}
		</script>
		<a onclick="studentSignIn">
			<div id="qrcode"></div>
		</a>
		<div class="text" >{{message|default:""}}</div>
	</div>
	{% load static %}
	<script src="{% static 'AttendanceTaker/qrcodejs/qrcode.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		const qrDiv = document.getElementById("qrcode");

		const qrcode = new QRCode(qrDiv, {
			//text: "bruh",
			width: 100,
			height: 100,
			colorDark : "#000000",
			colorLight : "#ffffff",
			correctLevel : QRCode.CorrectLevel.H,
		});

		setInterval(()=>{
			fetch("{% url 'ClassroomQRCode' %}").then((res)=>res.json()).then((data)=>data["data"]).then((base64String)=>{
				const studentURL = document.location.origin + "/" + base64String;
				qrcode.makeCode(studentURL);

				qrDiv.parentElement.setAttribute("href", studentURL);
				//console.log(base64String);
			});
		}, 1000);	//This QR code can be behind by a second, but that isn't too bad.
	</script>
{% endblock %}

{% block right_content %}
	<!-- This is where the present people go -->
	<!-- Make Copy JSON button that queries the server for the present list and puts it in the clipboard -->
	<!-- Make live attendance with htmx that updates every second. It can just render a template that loops through the students. -->
	<style>
		button {
            		background-color: #007bff;
            		color: #fff;
            		border: none;
            		padding: 10px 20px;
            		margin-top: 10px;
            		cursor: pointer;
        	}

        	button:hover {
            		background-color: #0056b3;
        	}
	</style>

	<script src="{% static 'AttendanceTaker/excellentexport/dist/excellentexport.js' %}" type="text/javascript"></script>
	<script>
		function copyJSONList(){
			fetch("{% url 'ClassroomAttendanceList' %}").then((res)=>res.json()).then((data)=>data["data"]).then((attendanceList)=>{
				console.log(attendanceList);
				copyString(JSON.stringify(attendanceList));
			});
		}
		function copyCSVList(){
			fetch("{% url 'ClassroomAttendanceList' %}").then((res)=>res.json()).then((data)=>data["data"]).then((attendanceList)=>{
				console.log(attendanceList);
				copyString(attendanceList.join(","));
			});
		}
		async function getExcelSheet(){
			const attendance = [];
			const attendanceList = await fetch("{% url 'ClassroomAttendanceList' %}").then((res)=>res.json()).then((data)=>data["data"]);
			const absenceList = await fetch("{% url 'ClassroomAbsenceList' %}").then((res)=>res.json()).then((data)=>data["data"]);

			//Add all the absent people
			absenceList.forEach((person)=>{
				attendance.push([person , 0]);
			});
			//Add all the present people
			attendanceList.forEach((person)=>{
				attendance.push([person , 1]);
			});

			console.log(attendance);
			attendance.sort((a, b)=>{return a[0].localeCompare(b[0])});
			console.log(attendance);

			function newApiArray(format, data) {
				const sheetName = ('Attendance' + Date.now());
				return ExcellentExport.convert({
					filename: sheetName,
					format: format,
					openAsDownload: true
				}, [{
					name: sheetName,
					from: {
						array: data
					}
				}]);
			}

			return newApiArray("xlsx", attendance);
		}
	</script>
    <div class="right_box" column>
	<div pad column start>
		<div class="box_title">
			Present
		</div>
		<div class="present_count">
			<div class="content">Head count:&nbsp;</div>
			<div class="content" id="presentNumber"></div>
		</div>

		<p id="attendanceList" class="studentList"></p>
	</div>
	<div class="buttons_div">
		<button class="qr_page_button" onclick="copyCSVList()">Copy CSV</button>
		<button class="qr_page_button" onclick="copyJSONList()">Copy JSON</button>
		<button class="qr_page_button" onclick="getExcelSheet()">Download Excel</button>
	</div>
    </div>
	{% load static %}
	<script src="{% static 'AttendanceTaker/qrcodejs/qrcode.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		const attendanceListElement = document.getElementById("attendanceList");
		const presentNumberElement = document.getElementById("presentNumber");

		function buildAttendanceList(details) {
			const errorCodes = {
				1: 'red',	//Cookies match with another student
				2: '#cc5500',	//IPs match with another student
				3: 'black'	//I don't really consider this to be an error
			};

			const parent = document.createElement('div');

			for (let studentName of Object.keys(details)) {
				const name = document.createElement('span');
				name.textContent = studentName;

				const studentSusReasons = details[studentName];
				if (studentSusReasons.length > 0) {	//The color becomes the first issue in the list, which should be the most important one.
					const errorCode = studentSusReasons[0][0];	//[0] First error [0] error code
					name.style.setProperty("color", errorCodes[errorCode]);
					function stringifyErrors(errors){
						str = "";
						for(let error of errors){
							switch(error[0]) {
								case 1:
									str += "This student shares the same cookie as " + error[1] + ". \n";
									break;
								case 2:
									str += "This student shares the ip address as " + error[1] + ". \n";
									break;
								case 3:
									str += "A new cookie was created for this user." + " \n";
									break;
								default:
									// code block
							}
						}
						return str;
					}
					name.title = stringifyErrors(studentSusReasons);	//This is like the alt text of text.
				}

				parent.appendChild(name);
				parent.appendChild(document.createElement('br'));
			}

			return parent;
		}

		setInterval(()=>{
			fetch("{% url 'ClassroomAttendanceDetails' %}").then((res)=>res.json()).then((data)=>data["data"]).then((attendanceList)=>{
				attendanceListElement.innerHTML = "";
				attendanceListElement.appendChild(buildAttendanceList(attendanceList));
				presentNumberElement.textContent = Object.keys(attendanceList).length;
			});
		}, 1000);
	</script>
{% endblock %}
