{% extends "layout.html" %}
{% block left_content %}
	<!-- This is where the present people go -->
	<!-- Make Copy JSON button that queries the server for the present list and puts it in the clipboard -->
	<!-- Make live attendance with htmx that updates every second. It can just render a template that loops through the students. -->
	<style>
		h2 {
			font-size: 200%;
		}
	</style>

	<h2>Absent:</h2>
	<p id="absenceList"></p>

	{% load static %}
	<script src="{% static 'AttendanceTaker/qrcodejs/qrcode.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		const absenceListElement = document.getElementById("absenceList");

		setInterval(()=>{
			fetch("{% url 'ClassroomAbsenceList' %}").then((res)=>res.json()).then((data)=>data["data"]).then((absenceList)=>{
				console.log(absenceList);
				absenceListElement.textContent = absenceList.sort().join(", ");
			});
		}, 1000);
	</script>
{% endblock %}

{% block middle_content %}
	<p style="font-size: 10vh; margin-left: auto; margin-right: auto;">Scan me!</p>
	<!-- Maybe use htmx to swap the image. Use {bruh% url 'AttendanceTaker.QR' } as the image source' -->
	<style>
		#qrcode{
			width: 70%;
			margin: auto;
		}
		#qrcode>img{
			width: 100%;

			image-rendering: pixelated;
			image-rendering: -moz-crisp-edges;
			image-rendering: crisp-edges;

			cursor: none; //So that the teacher doesn't accidentally lay the mouse on the QR code
		}
	</style>

	<script>
		function studentSignIn(){
			fetch("{% url 'ClassroomQRCode' %}").then((res)=>res.json()).then((data)=>data["data"]).then((base64String)=>{
				window.location = document.location.origin + "/" + base64String;
			});
		}
	</script>

	<a onclick="studentSignIn">
		<div id="qrcode"></div>
	</a>
	<p style="margin-left: auto; margin-right: auto;">This webapp requires cookies to work.</p>

	{% load static %}
	<script src="{% static 'AttendanceTaker/qrcodejs/qrcode.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		const qrDiv = document.getElementById("qrcode");

		const qrcode = new QRCode(qrDiv, {
			//text: "bruh",
			width: 100,
			height: 100,
			colorDark : "#000000",
			colorLight : "#ffffff",
			correctLevel : QRCode.CorrectLevel.H,
		});

		setInterval(()=>{
			fetch("{% url 'ClassroomQRCode' %}").then((res)=>res.json()).then((data)=>data["data"]).then((base64String)=>{
				const studentURL = document.location.origin + "/" + base64String;
				qrcode.makeCode(studentURL);

				qrDiv.parentElement.setAttribute("href", studentURL);
				//console.log(base64String);
			});
		}, 1000);	//This QR code can be behind by a second, but that isn't too bad.
	</script>
{% endblock %}

{% block right_content %}
	<!-- This is where the present people go -->
	<!-- Make Copy JSON button that queries the server for the present list and puts it in the clipboard -->
	<!-- Make live attendance with htmx that updates every second. It can just render a template that loops through the students. -->
	<style>
		h2 {
			font-size: 200%;
		}
	</style>

	<script>
		function copyJSONList(){
			fetch("{% url 'ClassroomAttendanceList' %}").then((res)=>res.json()).then((data)=>data["data"]).then((attendanceList)=>{
				console.log(attendanceList);
				if(document.location.protocol == "https:"){
					navigator.clipboard.writeText(JSON.stringify(attendanceList));
				}else{
					prompt("Copy the JSON yourself, since the server isn't running HTTPS.", JSON.stringify(attendanceList));
				}
			});
		}
	</script>

	<h2>Present:</h2>
	<p id="attendanceList"></p>
	<button onclick="copyJSONList()">Copy JSON</button>

	{% load static %}
	<script src="{% static 'AttendanceTaker/qrcodejs/qrcode.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		const attendanceListElement = document.getElementById("attendanceList");

		setInterval(()=>{
			fetch("{% url 'ClassroomAttendanceList' %}").then((res)=>res.json()).then((data)=>data["data"]).then((attendanceList)=>{
				attendanceListElement.textContent = attendanceList.sort().join(", ");
			});
		}, 1000);
	</script>
{% endblock %}
