{% for field in form %}
	<div column class="fieldWrapper">
		<div row>
			<div grow style="display: inline;"> {{ field.label }} </div>
			<div style="color: red;">
				{{ field.errors }}
			</div>
			{% if field.blank %}
				<div style="display: inline; text-align: right;">optional</div> <!-- Have to figure out how to tie this to the field.required -->
			{% endif %}
		</div>
		{{ field }}
		<datalist id="{{ field.name }}Options">
			{% for s in field.field.options %}
				<option value="{{ s }}"></option>
			{% endfor %}
		</datalist>
		{% if field.help_text %}
			<p class="help">{{ field.help_text|safe }}</p>
		{% endif %}
	</div><br />
{% endfor %}
